@model List<reportadoami.Models.ViewModels.PapeletadiariaCemViewModel>

@{
    ViewBag.Title = "Index";
    bool mostrarCovid = ViewBag.mostrarExamenesCovid ?? false;
}
@Html.Partial("Filtrofecha")




<div id="vistaParcial">
    <!-- Aquí se mostrarán los resultados de la búsqueda -->
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

